<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kang.dao.questionDiscuss.QuestionDiscussMapper">

    <!--查询所有额留言情况-->
    <!--查询问题的留言情况-->
    <select id="loadAllQuestionDiscuss" resultType="java.util.HashMap">
        SELECT
	        question_discuss.id,
	        subject.title as questionContent,
	        user.name as userName,
	        question_discuss.content as discussContent,
	        question_discuss.time
        FROM
	    wecode.question_discuss
        JOIN wecode.user
        JOIN wecode.subject
        WHERE
	        question_discuss.userId = user.id
        and
            question_discuss.questionId = subject.id
        order by question_discuss.time desc
    </select>

    <insert id="addQuestionDiscuss" parameterType="QuestionDiscuss" keyProperty="id">
        insert into wecode.question_discuss(id,questionId,userId,content,parent,time,agree)
        values (#{id},#{questionId},#{userId},#{content},#{parent},#{time},#{agree})
    </insert>

    <!--删除问题讨论-->
    <delete id="deleteQuestionDiscuss" parameterType="String">
        delete from wecode.question_discuss
        where
        question_discuss.id = #{id}
    </delete>

    <!--查询问题的留言情况-->
    <select id="loadQuestionDiscuss" parameterType="String" resultType="java.util.HashMap">
        SELECT
	        question_discuss.id,
	        question_discuss.userId as userId,
	        user.name as userName,
	        user.photo,
	        question_discuss.content,
	        question_discuss.parent,
	        question_discuss.time,
	        question_discuss.agree
        FROM
	    wecode.question_discuss
        JOIN wecode.user
        WHERE
	    question_discuss.userId = user.id
        and
        question_discuss.questionId = #{questionId}
        order by question_discuss.agree desc
    </select>

    <!--修改问题的留言板-->
    <update id="modifyDiscussContent" parameterType="String">
        update wecode.question_discuss
        set content=#{content}
        where id = #{id}
    </update>

    <update id="addAgree" parameterType="QuestionDiscuss" keyProperty="id">
        update wecode.question_discuss
        set agree = #{agree}
        where id = #{id};
    </update>

    <update id="deleteAgree" parameterType="QuestionDiscuss" keyProperty="id">
        update wecode.question_discuss
        set agree = #{agree}
        where id = #{id};
    </update>

    <!--添加用户的喜好-->
    <insert id="addUserPrefer" parameterType="UserPrefer" keyProperty="id">
        insert into wecode.user_prefer(id,questionDiscussId,userId)
        values (#{id},#{questionDiscussId},#{userId})
    </insert>

    <!--删除用户的点赞-->
    <delete id="deleteUserPrefer" parameterType="String">
        delete from wecode.user_prefer
        where userId = #{userId}
        and questionDiscussId = #{questionDiscussId}
    </delete>

    <!--检测用户的点赞-->
    <select id="checkUserPrefer"  parameterType="String" resultType="Integer">
        select count(*) from wecode.user_prefer
        where userId = #{userId}
        and questionDiscussId = #{questionDiscussId}
    </select>

    <!--检测题目的收藏数-->
    <select id="loadCollectionCount"  parameterType="String" resultType="Integer">
        select count(*) from wecode.user_collection
        where questionId = #{questionId}
    </select>
</mapper>