<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--配置数据源，交给spring做-->
    <typeAliases>
        <package name="com.kang.pojo"/>
    </typeAliases>

    <mappers>
        <mapper class="com.kang.dao.provincial.ProvincialMapper"/>
        <mapper class="com.kang.dao.sentence.SentenceMapper"/>
        <mapper class="com.kang.dao.user.UserMapper"/>
        <mapper class="com.kang.dao.school.SchoolMapper"/>
        <mapper class="com.kang.dao.question.QuestionMapper"/>
    </mappers>

</configuration>