.content-wrapper{
    /*box-sizing: border-box;*/
    min-height: 100%;
    height: 100%;
    background-color: rgb(237,242,246);
    overflow: auto;
}

.body{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

a:link,a:visited{
    text-decoration:none;  /*超链接无下划线*/
}

.header{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: auto;
    height: 60px;
    padding: 20px 15px 0px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.lc{
    font-size: 30px;
    font-weight: 700;
    color: #1b1b1b;
    transition: all 200ms ease;
}

.nav-left{
    height: 40px;
    width: 150px;
    float: left;
    margin-left: 100px;
    float: left;
}

.nav-mid{
    width: 540px;
    height: 40px;
    float: left;
    text-align: center;
    margin-left: 200px;
}

.nav-right{
    float: left;
    height: 40px;
    width: 400px;
    /*background-color: #0c5460;*/
}

#search{
    margin-top: 9px;
    float: left;
    height: 30px;
    width: 200px;
    background: url(../../img/searchLogo.png) no-repeat;
    background-color: white;
    background-position-y: center;
    padding-left: 35px;
    border-radius: 10px;
}

.tag{
    width: 90px;
    height: 40px;
    margin-right: 40px;
    float: left;
    text-align: center;
    vertical-align:middle;
    padding-top: 8px;
    color: #1b1b1b;
    font-size: 19px;
}

#searchDiv{
    float: left;
}


.user{
    width: 200px;
    height: 40px;
    float: left;
    margin-left: 135px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.notify{
    width: 60px;
    height: 40px;
    float: left;
    padding-top: 15px;
    cursor: pointer;
}

.notify p,img{
    float: left;
    font-size: 15px;
}

.notify p{
    text-align: center;
    vertical-align: center;
}

.userInfo{
    width: 350px;
    height: 250px;
    z-index: auto;
    margin-top: 45px;
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 5px;
    display: none;
}

.nameAndIndex{
    width: 350px;
    height: 50px;
    border-bottom: #1b1b1b 1px solid;
    display: flex;
    justify-content:space-around;
    align-items: center;
    float: left;
}

.nameAndIndex p{
    margin-top: 10px;
}

.userItem{
    width: 350px;
    height: 150px;
    float: left;
    display: flex;
    justify-content:space-around;
    align-items: center;
    border-bottom: #1b1b1b 1px solid;
}

.everyItem{
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.everyItem img{
    width: 32px;
    height: 32px;
    margin-right: 27px;
    float: right;
}

.everyItem p{
    margin-top: 5px;
    width: 80px;
    float: right;
    text-align: center;
    vertical-align: center;
    letter-spacing: 10px;
}

.settingAndOut{
    width: 350px;
    height: 50px;
    float: left;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.settingAndOut a:hover{
    cursor: pointer;
}

.userPhoto{
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 25px;
    background: url("../../img/photos/manPhoto.png") no-repeat;
    cursor: pointer;
}

.userName{
    margin-top: 5px;
    width: 95px;
    height: 20px;
    float: left;
    vertical-align:middle;
    text-align: left;
}

.tag:hover {
    color: black;
}

.leftBody{
    width: 350px;
    height: 500px;
    margin-top: 40px;
    margin-left: 50px;
    float: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#weatherColor{
    width: 350px;
    height: 315px;
}
.remainTime{
    height: 100px;
    width: 350px;
    float: left;
    background-color: #845900;
}

.remainTime{
    padding-top: 25px;
}

.tips{
    text-align: center;
    font-weight: 600;
    font-size: 0.85rem;
    text-transform: uppercase;
    color: #fff;
}

.classify{
    text-align: center;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: #FFFFFF;
}

#spanTime{
    font-size: 0.85rem;
    text-align: center;
}

.rightBody{
    width: 350px;
    height: 500px;
    margin-top: 40px;
    margin-left: 50px;
    background-color: rgb(237,242,246);
    float: left;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.dailyQuestion{
    width: 350px;
    height: 250px;
    float: left;
}

.totalQuestion{
    width: 350px;
    height: 250px;
    float: left;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.item{
    width: 160px;
    height: 95px;
    margin-bottom: 15px;
    margin-top: 10px;
    background-color: #4b5c31;
    padding-top: 20px;
    border-radius: 5px;
 }

.card-info{
    background-color: #4b5c31;
}

.jumbotronColor{
    background-color: #4b5c31;
}

.jumbotronColor h1{
   color: #FFFFFF;
}

#jumbotronP{
    color:#FFFFFF;
}

.jumbotronColor hr{
    background-color: #FFFFFF;
}
/**************************************中部**********************************************/
.middleBody{
    width: 640px;
    margin-top: 40px;
    margin-left: 50px;
    /*background-color: #533f03;*/
    float: left;
}

.postMessage{
    width: 640px;
    height: 250px;
    float: left;
    background-color: #fff;
}

.userInput{
    width: 640px;
    height: 200px;
    float: left;
    border-bottom: 1px solid #888da8;
}

.hi{
    width: 30px;
    height: 200px;
    float: left;
    background: url("../../img/hi.png") no-repeat;
}

.inputBody{
    width: 610px;
    height: 200px;
    float: left;
}

.inputMessage{
    width: 610px;
    height: 199px;
    resize: none;
    border: none;
    font-size: 13px;;
    text-align: left;
    line-height: 30px;
    outline: none;
    letter-spacing: 3px;
}

.inputMessage::-webkit-input-placeholder{
    top: 18px;
    font-size: 13px;
    line-height: 1.42857;
    padding-top: 5px;
    padding-left: 5px;
}

.doPost{
    width: 640px;
    height: 50px;
    float: left;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

#remainWord{
    font-size: 10px;
    text-align: left;
    line-height: 50px;
    letter-spacing: 3px;
    width: 165px;
    height: 50px;
    float: left;
    padding-left: 35px;
    color: #888da8;
}

#post{
    margin-top: 7px;
    margin-left: 395px;
    color: #FFFFFF;
}

.daily{
    width: 640px;
    float: left;
}

.dailyCard{
    margin-top: 30px;
    width: 640px;
    height: 180px;
    background-color: #FFFFFF;
    overflow: auto;
}

