.weatherCard {
    width: 350px;
    height: 415px;
    background-color: RGB(26,26,26);
    overflow: hidden;
    border: none;
    float: left;
}

.weatherCard:nth-child(5n) {
    margin-right: 0;
}

.weatherCard .card-color {
    position: relative;
    width: 100%;
    padding: 6.5em 1em;
    display: block;
}

.weatherCard .card-color:after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
}

.weatherCard .card-color.color-sunny {
    background-color: #68688c;
}

.weatherCard .card-info {
    padding: 1em;
    font-size: 0.75rem;
    color: #FFFFFF;
    height: 100px;
    text-align: center;
}

.weatherCard .card-info p {
    font-size: 0.75rem;
    margin-bottom: .75em;
}

.weatherCard .card-info p {
    font-weight: 600;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #fff;
}

.weatherCard .card-info p:last-child {
    margin-bottom: 0;
}

/* Sunny */

.sunny {
    animation: sunny 9s linear infinite;
    -webkit-animation: sunny 9s linear infinite;
    background: #ffe400;
    border-radius: 100%;
    box-shadow: rgba(255, 255, 0, 0.1) 0 0 5px 5px;
    content: '';
    height: 90px;
    width: 90px;
    position: relative;
    left: 110px;
    top: 10px;
}

.sunny:before {
    animation: sunglow 9s ease-in-out infinite;
    -webkit-animation: sunglow 9s ease-in-out infinite;
    background: #FFEE44;
    box-shadow: rgba(255, 255, 0, 1) 0 0 5px 1px;
    border-radius: 100%;
    content: '';
    height: 90px;
    width: 90px;
    position: absolute;
    left: 2px;
    top: 2px;
}

.sunny:after {
    animation: sunshadow 9s ease-in-out infinite;
    -webkit-animation: sunshadow 9s ease-in-out infinite;
    background: #000000;
    border-radius: 50%;
    content: '';
    height: 15px;
    width: 120px;
    opacity: 0.2;
    position: absolute;
    left: -15px;
    bottom: -40px;
    transform: scale(.7);
    -webkit-transform: scale(.7);
}
@keyframes sunny {
    50% {
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        box-shadow: rgba(255, 255, 0, 0.2) 0 0 5px 15px;
    }
}
@-webkit-keyframes sunny {
    50% {
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        box-shadow: rgba(255, 255, 0, 0.2) 0 0 5px 15px;
    }
}

@keyframes sunglow {
    50% {
        box-shadow: rgba(255, 255, 0, 0.1) 0 0 5px 10px;
    }
}
@-webkit-keyframes sunglow {
    50% {
        box-shadow: rgba(255, 255, 0, 0.1) 0 0 5px 10px;
    }
}

@keyframes sunshadow {
    50% {
        transform: translateY(20px) scale(1);
        -webkit-transform: translateY(20px) scale(1);
        opacity: .05;
    }
}
@-webkit-keyframes sunshadow {
    50% {
        transform: translateY(20px) scale(1);
        -webkit-transform: translateY(20px) scale(1);
        opacity: .05;
    }
}
