<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kang.dao.user.UserMapper">
    <!--增加一个日志-->
    <insert id="addDairy" parameterType="UserDiary" keyProperty="id">
        insert into wecode.user_diary(id,userId,content,createTime)
        values (#{id},#{userId},#{content},#{createTime})
    </insert>

    <!--查询全部日记动态 倒序输出-->
    <select id="queryAlldiary" parameterType="String" resultType="UserDiary">
        SELECT * from wecode.user_diary
        where userId = #{userId}
        Order By createTime Desc
    </select>

    <!--用户登录-->
    <select id="userLogin" parameterType="String" resultType="User">
        SELECT * from wecode.user
        where account = #{account} and password = #{password}
    </select>

    <!--用户登录-->
    <select id="userLoginById" parameterType="String" resultType="User">
        SELECT * from wecode.user
        where id = #{id}
    </select>

    <!--检测用户账号是否存在-->
    <select id="checkAccount" parameterType="java.lang.String" resultType="Integer">
        SELECT count(*) from wecode.user
        where account = #{account}
    </select>

    <!--新增用户-->
    <insert id="register" parameterType="User">
        insert into wecode.user(id,account,password,name,createTime)
        values (#{id}, #{account}, #{password}, #{name}, #{createTime})
    </insert>

    <!--删除用户的日志-->
    <delete id="deleteDiary" parameterType="String">
        delete from wecode.user_diary where id=#{diaryId}
        AND userId=#{userId}
    </delete>

    <!--通过用户的ID来更改用户的昵称-->
    <update id="modifyUserNameById" parameterType="String">
        update wecode.user
        set user.name = #{userName}
        where user.id = #{userId}
    </update>

    <!--通过用户的ID来更改用户的昵称-->
    <update id="modifyUserIntroById" parameterType="String">
        update wecode.user
        set user.introduction = #{userIntro}
        where user.id = #{userId}
    </update>

    <!--通过用户的ID来更改用户的密码-->
    <update id="modifyUserPasswordById" parameterType="String">
        update wecode.user
        set user.password = #{password}
        where user.id = #{userId}
    </update>

    <!--通过用户的ID来更改用户的电子邮箱-->
    <update id="modifyUserEmailById" parameterType="String">
        update wecode.user
        set user.email = #{email}
        where user.id = #{userId}
    </update>

    <!--通过用户的ID来更改用户的电话-->
    <update id="modifyUserPhoneById" parameterType="String">
        update wecode.user
        set user.phoneNumber = #{phoneNumber}
        where user.id = #{userId}
    </update>

    <!--通过用户的ID来更改用户的地址-->
    <update id="modifyUserAddressById" parameterType="String">
        update wecode.user
        set user.address = #{address}
        where user.id = #{userId}
    </update>

    <!--通过用户的ID来更改用户的性别-->
    <update id="modifyUserSexById" parameterType="String">
        update wecode.user
        set user.sex = #{sex}
        where user.id = #{userId}
    </update>

    <!--通过用户的ID来更改用户的院校-->
    <update id="modifyUserSchoolById" parameterType="String">
        update wecode.user
        set user.voluntarySchool = #{voluntarySchool}
        where user.id = #{userId}
    </update>

    <!--通过用户的ID来更改用户的出生日期-->
    <update id="modifyUserBirthdayById" parameterType="String">
        update wecode.user
        set user.birthday = #{birthday}
        where user.id = #{userId}
    </update>

    <!--通过用户的ID来更改用户的头像地址-->
    <update id="modifyUserPhotoById" parameterType="String">
        update wecode.user
        set user.photo = #{photo}
        where user.id = #{userId}
    </update>
</mapper>