<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kang.dao.user.UserMapper">
    <!--增加一个日志-->
    <insert id="addDairy" parameterType="UserDiary" keyProperty="id">
        insert into wecode.userdiary(id,userId,content,createTime)
        values (#{id},#{userId},#{content},#{createTime})
    </insert>

    <!--查询全部日记动态 倒序输出-->
    <select id="queryAlldiary" parameterType="String" resultType="UserDiary">
        SELECT * from wecode.userdiary
        where userId = #{userId}
        Order By createTime Desc
    </select>
</mapper>