/*禁止选中文字*/
html{
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

hr{
    width: 70%;
}

#allClass{
    /*height: 200px;*/
    padding-top: 30px;
    margin: 0 auto;
    /*background-color: #e4606d;*/
    display: flex;
    justify-content: space-around;
}

#classify{
    margin-top: 45px;
}

#allQuestion{
    margin: 0 auto;
}

.inner{
    background-size: 100% 100%;
    border-radius: 10px;
    height: 100px;
    width: 120px;
    display: table;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(26,26,26,0.1);
    /*background-color: #005cbf;*/
}

.title{
    text-shadow: 0 0 15px rgba(0,0,0,0.15);
    vertical-align: middle;
    padding: 10px;
    display: table-cell;
    font-size: 17px;
    color: white;
    font-weight: 400;
}

#dataStructure{
    background-image:url("../../img/background/bg1.png");
}

#network{
    background-image:url("../../img/background/bg2.png");
}

#composition{
    background-image:url("../../img/background/bg3.png");
}

#opSystem{
    background-image:url("../../img/background/bg4.png");
}

#question{
    margin-top: 50px;
}

#search{
    font-size: 13px;
    height: 80px;
    min-height: auto;
}

/*#dailyQuestion{*/
/*    !*text-align: center;*!*/
/*    margin: 0 auto;*/
/*}*/

#searchQuestion{
    width: 90px;
    height: 50px;
    min-width: auto;
}

.card{
    margin-bottom: 20px;
}