<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kang.dao.permission.PermissionMapper">

    <!--新增权限-->
    <insert id="addPermission" keyProperty="id">
        insert into wecode.permission(id,roleId,moduleId)
        values (#{id},#{roleId},#{moduleId})
    </insert>

    <!--删除权限-->
    <delete id="deletePermission" parameterType="String">
        delete from wecode.permission
        where roleId = #{roleId}
        and moduleId = #{moduleId}
    </delete>
</mapper>